# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datenordner
data/
*.csv

# MacOS-spezifische Dateien
.DS_Store

# VSCode settings
.vscode/

# Umgebungsvariablen-Dateien
.env

# Trash
.Trash-0/





